body {
    background-color: #383838;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
}
.mainDiv {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
}
text {
    font-family: "InriaSans"
}
@font-face {
    font-family: "InriaSans";
    src: url("../fonts/InriaSans-Regular.ttf");
}

@font-face {
    font-family: "InriaSans-Bold";
    src: url("../fonts/InriaSans-Bold.ttf");
}
